@charset "UTF-8";

ul, li {
    list-style: none;
}

/* 전체  */
.page_out {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    height: 100vh; /*높이를 100%로 설정*/
}

.page_inner {
    display: flex;
    margin: auto 50x;
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

/* 왼쪽 메뉴바 */
.left_bar {
    margin-right: 50px;
}

.left_bar {
    width: 300px;
    text-align: center;
}

.left_list {
    border: none;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

.left_list div input {
    border: none;
    border-radius: 5px;
    margin: 15px auto;
    padding: 20px;
    background: orange;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.left_list div input:hover, .left_list div input:focus {
    box-shadow: 0 0 4px rgb(87, 85, 85);
    cursor: pointer;
    outline: none;
} 


/* 중앙 */
.center_box {
    display: flex;
    justify-content: center; /*가로 가운데 정렬*/
    margin-right: 30px;
}

.center_inner {
    width: 500px;
    margin: auto 30px;
    display: flex;
}  

.div_text {
    margin: auto 0 auto 70px;
    width: 100%;
    height: 30px;
    font-size: 25px;
}

.icon {
    font-size: 120px;
    margin-left: 25px;
}

/* 회원 수정 팝업창 */
.mod_popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popup-header {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* 회원정보 수정 팝업 테이블 */

form th, form td {
    font-size: 20px;
    height: 50px;
    
}
form th {
    background: gainsboro;
    width: 180px;
}

form td {
   padding-left: 10px;
}

form input {
    height: 30px;
    font-size: 20px;
    margin-left: 10px;
}

/* 비밀번호 인증버튼 */
.td_oldPwd input[type="button"] {
	font-size: 15px;
	    background: lightgray;
    border: none;
    border-radius: 5px;
}

.td_oldPwd input[type="button"]:hover {
	box-shadow: 0 0 4px gray;
	cursor: pointer;
}
 
/* 연락처 앞자리 */
select {
    width: 60px;
    height: 35px;
    font-size: 20px;
    margin-left: 10px;
}

.inputButton {
    background: white;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 18px;
}

.inputButton:hover {
    box-shadow: 0 0 5px gray;
    cursor: pointer;
}

/* 팝업창 */

.chk_popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    padding: 30px 30px 50px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.pop_button { /* 취소 버튼*/
    cursor: pointer;
    border: 3px solid burlywood;
    background-color: white;
    border-radius: 4px;
    color: burlywood;
    font-size: 15px;
    font-weight: bold;
}

.del_button:hover, .del_cancel:hover,  
.update_cancel:hover, .update_return:hover{
    background-color: burlywood;
    color: #fff;
}

/* 수정 6/28  9:35 */

h1 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: verdana;
  font-size: 20px;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100px;
  height: 37px;
  font-size: 12px;
  
}

th {
text-align: left;
}

td {
	height: 57px;
}

table {
	width : 500px;
}

.essential {
color : red;
}

.centered-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mod table {
    margin: auto;
}

