@charset "UTF-8";
/* 상세페이지 */
li {
    list-style: none;
}
.h3_category {
    margin: 30px auto;
    width: 800px;
}
.info {
	width: 800px;
    margin: 0 auto;
}
.info_box {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #80808080;
    border-bottom: 1px solid #80808080;
}

.info_content {
    display: flex;
    justify-content: center;
    align-content: center;
}
.showName {
	text-align: center;
}
.info_box > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
}

.photo {
    margin-bottom: 30px; 
}
.photo img {
    width: 200px;
    height: 280px;
    background-color: gray;
    box-shadow: -8px 8px 5px #000447;  
}

.buy_ticket {
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

 /* 예매하기*/
.buy_ticket a {
    padding: 8px;
    text-decoration: none;
    background: #FF9900;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.buy_ticket a:hover {
    box-shadow: 0 0 15px #FAC8C8;
    padding: 10px;
}

/* 상세정보 */
.descript {
    line-height: 35px;
    margin-top: 120px;
    height: 200px;
    margin: auto 30px;
}

.descript th {
    width: 100px;
    padding-right: 15px;
    text-align: right;
  
}
.descript td {
    width: 150px;
}

/* 목록버튼 시작 */
/* 버튼그룹  */
.btnAll {
    width: 1000px;
    margin: 0 auto;
}

.btnAll ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* 목록이동버튼 */
.listMove {
    width: 160px;
    height: 50px;
    margin-right: 300px;
}
.pre_next td {
    text-align: left;
    font-size: 20px;
    border: none;
}

.fa-solid {
    border: none;
    background: none;
    color: darksalmon;
}

.fa-solid :hover{
    font-weight: bold;
    cursor: pointer;
}

/* 목록버튼 */
.div_back {
	width: 800px;
    display: flex;
    justify-content: space-between;
}
.btn_back_box {
    display: flex;
    justify-content: right;
}

.btn_back, .reservationBtn {
    border: 1px solid #FF9900;
    border-radius: 4px;
    background: none;
    font-size: 20px;
    color: #FF9900;
    margin: 20px;
}

.btn_back:hover {
    box-shadow: 0 0 15px #FAC8C8;
    cursor: pointer;
}
.reservationBtn {
    margin-left: 75px;
    padding: 5px;
}
.reservationBtn:hover {
	cursor: pointer;
	background: #FF9900;
	 color: white;
}

/* 페이지숨기기 */
#detail2, #detail3 {
    display: none;
}

/* 줄바꿈 */
.descript tr {
    width: 100%;
	box-sizing: border-box;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; /* 화면이 줄어들때 줄바꿈 */
}
/* 목록부분도 줄바꾸기 */


