@charset "UTF-8";

ul, li {
    list-style: none;
}
/* 카테고리 */
.nav_title h3 {
    color: orange;
    font-size: 30px;
    margin: 50px 0;
}

.board_list { 
  width: 1000px;
  margin: 0 auto;
}
.outline li {
   margin: 20px;
   display: none;
}

.serialNum {
    display: none;
}

.board_list ul {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.board_list > ul:nth-of-type(2) {
  border-top: 4px solid #FFDFA5;
}

.board_list > ul:nth-last-of-type(1) {
    border-bottom: 4px solid #FFDFA5;
  }

.post_cover img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 10px;
}

img:hover {
    opacity: 30%;
}

.post_cover {
    border-top: 1px solid #FFDFA5;
    padding: 14px;
    height: 80px;
}

.post_cover:nth-last-child(1) {
    padding-bottom: 30px;
    border-bottom: 1px solid #FFDFA5;
}

.post_cover .title label {
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
}
.post_cover .title label:hover {
    font-size: 17px;
    text-decoration: underline;
}
.post_cover .title ul {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: -30px;
}

.title ul li {
    margin: 10px;
    font-size: 12px;
    color: darkgrey;
}

/* 페이지버튼 */
.btnNum {
    width: 200px;
    margin: 20px auto;
    display: flex;
}

.btnNum div a {
    cursor: pointer;
    background:  orange;
    border: 1px solid orange;
    font-size: 15px;
    padding: 5px 10px;
    color: #fff;
}  

.btnNum div a:hover {
    box-shadow: 0 0  5px black;
}  

.prev {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 5px;
}

.next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 5px;
}

/* 검색창 */
.formBox {
    width: 930px;
    display: flex;
    justify-content: end;
    margin: 0px auto;
    margin-bottom: 5px;
 }
 
 .form_srch {
    align-content: flex-end;
 }
 
 .form_srch input[type="search"]::placeholder {
     color: darksalmon;
     font-size: 15px;
 }
 
 .form_srch input[type="search"] {
     border: none;
     border-bottom: 1px solid orange;
     background-color: antiquewhite;
     color: orange;
     height: 15px;
     padding: 5px;
 }
 
 .form_srch input[type="search"]:hover, input:focus {
     border: 2px solid #FFEB46;
     outline: none;
 }
 
 .form_srch i {
     position: relative;
     left: -20px;
     top: 2px;
     color:orange;
 }

 /* 글쓰기 태그 */
.btn_write {
	display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin: 10px auto;
}
 .write {
    margin-left: 20px;
    padding: 5px;
    border: 3px solid orange;
    border-radius: 5px;
    background: white;
    font-size: 15px;
    color: orange;
    font-weight: bold; 
}
.write:hover  {
	background: orange;
	color: white;
  	box-shadow: 0 0 5px black;
   	cursor: pointer;
}
