@charset "UTF-8";

section {
    display: flex;
    justify-content: center; /*가로 가운데 정렬*/
	margin-top: 100px;
}
li {
    list-style: none;
}
/* 카테고리 */
.review_box {
    width: 1000px;
}

.head {
    display: flex;
    flex-direction: row;
   	margin-bottom: 80px;
    border-bottom: 1px solid lightgray;
}

.head_inner {
	display: flex;
}

.head_inner span {
	margin-top: 30px;
}

.head_inner ul {
	padding-left: 20px;
}
.category {
    position: relative;
    top: 50px;
    left: 40%;
    font-size: 25px;
}

.writer {   
    font-weight: bold;
    margin-top: 10px;
}

.writer span {
    font-size: 30px;
}

.boardInfo {
    display: flex;
    padding: 0 10px 0px 0px;
}

.boardInfo span {
    margin: 5px;
    font-size: 18px;
    color: gray;
    font-weight: 100;
}

#board_heart {
	margin-right: 5px;
}
/* 본문 */
.content_text {
    width: 800px;
    word-wrap: break-word; /* 긴 단어가 요소의 너비를 넘지 않도록 함 */
}
.content_text p {
	font-size: 20px;
	margin: 0 auto;
}

/* 이미지 & 텍스트 */
.content_box {
    margin: 0 auto;
    width: 1000px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: center;
}

.content_box ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.content_box ul li {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
/* .content_text {
   width: 1000px;
} */
        
.boardImg {
    max-width: 300px;
    height: auto; /* 원본 비율 유지 */
    display: block; /* 부모 요소의 가로 길이를 차지하도록 설정 */
    margin: 10px auto;
}

/* 목록버튼 */
.div_back {
	 width: 500px;
	 margin: 10px auto;
}
.btn_back_box {
    display: flex;
    justify-content: center;
}

.btn_back {
    width: 60px;
    border: 1px solid #FF9900;
    border-radius: 4px;
    background: none;
    font-size: 20px;
    color: #FF9900;
    position: relative;
    left: 300px;
    top: 15px;
}

.btn_back:hover {
    box-shadow: 0 0 15px #FAC8C8;
    cursor: pointer;
}

/* 컨텐츠 바로 위버튼 3개 */
.top_btn {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
}

/* 좋아요 버튼 */
.top_btn input {
 display: none; 
}
#heart {
    color: orange;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 180px;
    cursor: pointer;
}

#heart:hover {
    font-weight: bold;
}

#heart.filled {
    font-weight: bold;
}

/* 수정/삭제 */
.btn_center {
    display: flex;
    margin-top: 15px;
}

.btn_center button {
    border: 1px solid orange;
    border-radius: 4px;
    background: none;
    color: orange;
    font-size: 20px;
    margin-right: 20px;
}

.btn_center button:hover {
    box-shadow: 0 0 5px gray;
    background: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#btn_mod, #btn_del {
	display: none;
}

/* 제목 */
.review_tit {
    font-size: 35px;
}
/* -------------게시글 수정페이지-----------------  */
/* boardUpdate.jsp */

.mod_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mod_table {
	width: 1000px;
	border-collapse: collapse;
}

.hr_line {
    margin-top: 50px;
}

.td_newImg {
	height: 100px;
}

.td_bottom{
	border: none;
	border-top: 1px solid grey;
	padding-top: 30px;
}

.mod_table th {
	font-size: 22px;
	width: 500px;
}
.board_title {
    font-size: 25px;
    border: none;
    padding: 10px;
    width: 580px;
}

.board_title:focus {
	outline: none;
}

/* 이미지 */
.th_img {
	padding: 10px;
}
.oldImg {
    width: 200px;
}

textarea#board_content {
    width: 100%;
    border: none;
    padding: 30px;
    font-size: 25px;
}
#board_content:focus {
	outline: none;
}

/* 파일버튼 */
.btn_choice {
    padding: 5px;
    border: 3px solid gray;
    border-radius: 5px;
    background: white;
    font-size: 18px;
    color: gray;
    font-weight: bold
}
.btn_choice:hover {
	background: gray;
	color: white;
	cursor: pointer;
}

.input_file {
	display: none;	
}

.file_name {
	margin-top: 10px;
	margin-left: 10px;
}

.td_newImg div {
	margin: 15px;
}

/* 수정확인버튼 */
.mod_input {
    border: 2px solid orange;
    border-radius: 4px;
    background: none;
    color: orange;
    font-size: 25px;
    margin-right: 20px;
}

.mod_input:hover {
	 background: orange;
	 color: white;
	 cursor: pointer;
}

/* 댓글입력란, 작성버튼 */
.comment_section {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

.div_cmtAdd {
	margin-top: 20px;
	
}
.content {
	width: 500px;
	font-size: 20px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
.content:focus {
	outline: none;
}
.div_btn {
	margin-top: 10px;
	width: 500px;
}

/* 댓글작성버튼 */
.btnCommentAdd {
	margin-right: 10px;
    background: none;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 4px; 
	font-size: 20px;
}

.btnCommentAdd:hover {
    cursor: pointer;
	font-weight: bold;
	background: cornflowerblue;
	color: white;
}



/* 목록 */
.mod_back {
 	border: 2px solid orange;
    border-radius: 4px;
    background: none;
    color: orange;
    font-size: 25px;
    margin-right: 20px;
    background: none;
}
.mod_back:hover {
	 background: orange;
	 color: white;
	 cursor: pointer;
}
/* 댓글 */
p.comment_text {
    margin-left: 20px;
}



