<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  <!-- dto에 setter로 담는 것은 자료형이 유지됨 => #{} 
	  	   map에 담는 것은 키의 자료형에 따라 달라짐 => String일 경우 TO_NUMBER(#{key}) 를 붙여야함
	  	   *mapper안에서 parameterType에 맞춰서 변수명이 반드시 일치헤야함
	    -->
	 <mapper namespace="com.spring.ict03_fastiCat.dao.BoardDAO">  <!-- namespace="패키지명.인터페이스" -->
		<!-- 게시글 목록조회 -->
		<select id="boardList" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.BoardDTO">
			SELECT *
			  FROM (
			        SELECT A.*
			             , ROWNUM AS rn 
			          FROM 
			          <if test='category == "review"'>
			            (SELECT * FROM reviewBoard_tbl
			          </if>
			          
			          <if test='category == "free"'>
			            (SELECT * FROM freeBoard_tbl
			          </if>
			              WHERE board_show = 'y'
			              ORDER BY board_num DESC
			             ) A
			        )
			 WHERE rn BETWEEN TO_NUMBER(#{start}) AND TO_NUMBER(#{end})
		</select>
		
		<!-- 게시글 개수 -->
		<select id="boardCnt" parameterType="String" resultType="int">
			SELECT COUNT(*) AS cnt
			<if test='category == "review"'>
			  FROM  reviewBoard_tbl
			</if>  
			
			 <if test='category == "free"'>
			  FROM  freeBoard_tbl
			</if>  
			  WHERE board_show = 'y'
		</select>
		
		<!-- 게시글 상세페이지 -->
		<select id="getBoardDetail" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.BoardDTO">
			SELECT * 
			<if test='category == "review"'>
			  FROM  reviewBoard_tbl
			</if>  
			
			 <if test='category == "free"'>
			  FROM  freeBoard_tbl
			</if>  
			 WHERE board_num = TO_NUMBER(#{board_num})
		</select>
		
		<!-- 좋아요 조회 -->
		<select id="selectHeart" parameterType="com.spring.ict03_fastiCat.dto.HeartDTO" resultType="int">
			SELECT COUNT(*) AS cnt
			  FROM heart_tbl
			 WHERE userID = #{userID, jdbcType=VARCHAR}
			   AND board_num = #{board_num, jdbcType=NUMERIC}
			   AND board_category = #{board_category, jdbcType=VARCHAR} <!-- NULL이 들어가도 출력되도록함 -->
		</select>
		
		<!-- 회원 게시글 이력조회 -->
		<select id="selectOfwriter" parameterType="com.spring.ict03_fastiCat.dto.BoardDTO" resultType="int">
			SELECT COUNT(*) AS cnt
			<if test='board_category == "review"'>
			  FROM  reviewBoard_tbl
			</if>  
			
			 <if test='board_category != "review"'>
			  FROM  freeBoard_tbl
			</if>  
			  WHERE board_writer = #{board_writer, jdbcType=VARCHAR}
			    AND board_num = #{board_num, jdbcType=NUMERIC}
		</select>
		
		<!-- 조회수 증가 -->
		<update id="plusViews" parameterType="java.util.Map">
			<if test='category == "review"'>
			  UPDATE reviewBoard_tbl
			     SET board_views = board_views + 1
			   WHERE board_num = TO_NUMBER(#{board_num})
			</if>  
			 <if test='category != "review"'>
			  UPDATE freeBoard_tbl
			     SET board_views = board_views + 1
			   WHERE board_num = TO_NUMBER(#{board_num})
			</if>  
		</update>
		
		<!-- 게시판 테이블 좋아요count 수정 -->
		<update id="modHeartCount" parameterType="com.spring.ict03_fastiCat.dto.BoardDTO">
			<if test='board_category == "review"'>
				UPDATE reviewBoard_tbl
				   SET board_heart = #{board_heart}
				 WHERE board_num = #{board_num}
			 </if>
			 <if test='board_category != "review"'>
				 UPDATE freeBoard_tbl 
				    SET board_heart = #{board_heart}
				  WHERE board_num = #{board_num}
			 </if>
		</update>
		
		<!-- 좋아요 클릭 => 하트 insert -->
		<insert id="insertHeart" parameterType="com.spring.ict03_fastiCat.dto.HeartDTO">
			INSERT INTO heart_tbl(heart_num, board_num, board_category, userID)
			VALUES ((SELECT NVL(MAX(heart_num)+1, 1) FROM heart_tbl), #{board_num}, #{board_category}, #{userID})
		</insert>
		
		<!-- 좋아요 취소 => 하트 delete  -->
		<delete id="delHeart" parameterType="com.spring.ict03_fastiCat.dto.HeartDTO">
			DELETE heart_tbl
			 WHERE userID = #{userID}
			   AND board_num = #{board_num}
			   AND board_category = #{board_category}
		</delete>
		
		<!-- 게시글 작성처리 -->
		<insert id="insertBoard" parameterType="com.spring.ict03_fastiCat.dto.BoardDTO">
			 <if test='board_category == "review"'>
				 INSERT INTO reviewBoard_tbl(board_num, board_title, board_content, board_thumnail, board_image, board_writer) 
				 VALUES ((SELECT NVL(MAX(board_num)+1, 1) FROM reviewBoard_tbl), #{board_title}, #{board_content}, #{board_thumnail}, #{board_image, jdbcType=VARCHAR}, #{board_writer})
			 </if>
			 
			 <if test='board_category != "review"'>
				 INSERT INTO freeBoard_tbl(board_num, board_title, board_content, board_thumnail, board_image, board_writer) 
				 VALUES ((SELECT NVL(MAX(board_num)+1, 1) FROM freeBoard_tbl),  #{board_title}, #{board_content}, #{board_thumnail}, #{board_image, jdbcType=VARCHAR}, #{board_writer})
			 </if>
		</insert>
		
		<!-- 게시글 수정처리 -->
		<update id="updateBoard" parameterType="com.spring.ict03_fastiCat.dto.BoardDTO">
		 	<if test='board_category == "review"'>
				 UPDATE reviewBoard_tbl 
				    SET board_title = #{board_title}, board_content= #{board_content}, board_thumnail= #{board_thumnail}, board_image = #{board_image, jdbcType=VARCHAR}
				  WHERE board_num = #{board_num}
			 </if>
			 
			 <if test='board_category != "review"'>
			 	 UPDATE freeBoard_tbl 
				    SET board_title = #{board_title}, board_content= #{board_content}, board_thumnail= #{board_thumnail}, board_image = #{board_image, jdbcType=VARCHAR}
				  WHERE board_num = #{board_num}
			 </if>
		</update>
		
		<!-- 게시글 삭제처리 -->
		<update id="deleteBoard" parameterType="java.util.Map">
			<if test='category == "review"'>
				 UPDATE reviewBoard_tbl 
				    SET board_show = 'n'
				  WHERE board_num = TO_NUMBER(#{board_num})
			 </if>
			 
			 <if test='category != "review"'>
			 	 UPDATE freeBoard_tbl 
				    SET board_show = 'n'
				  WHERE board_num = TO_NUMBER(#{board_num})
			 </if>
		</update>
		
		<!-- 댓글 목록조회 -->
		<select id="cmtList" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.CommentDTO">
			SELECT *
			<if test='category == "review"'>
			  FROM  reviewComment_tbl
			</if>  
			 <if test='category != "review"'>
			  FROM  freeComment_tbl
			</if>  
			 WHERE board_num = TO_NUMBER(#{board_num})
			 ORDER BY comment_num DESC
		</select>
		
		<!-- 댓글 작성처리 -->
		<insert id="cmtInsert" parameterType="com.spring.ict03_fastiCat.dto.CommentDTO">
			<if test='board_category == "review"'>
				 INSERT INTO reviewComment_tbl(comment_num, board_num, userID, content) 
				 VALUES ((SELECT NVL(MAX(comment_num)+1, 1) FROM reviewComment_tbl), #{board_num}, #{userID}, #{content})
			 </if>
			 
			 <if test='board_category != "review"'>
				 INSERT INTO freeComment_tbl(comment_num, board_num, userID, content) 
				 VALUES ((SELECT NVL(MAX(comment_num)+1, 1) FROM freeComment_tbl), #{board_num}, #{userID}, #{content})
			 </if>
		</insert>
		
		<!-- 댓글 한건 조회 - 수정 -->
		<select id="cmtSelect" parameterType="com.spring.ict03_fastiCat.dto.CommentDTO" resultType="com.spring.ict03_fastiCat.dto.CommentDTO">
			SELECT *
			<if test='board_category == "review"'>
			  FROM  reviewComment_tbl
			</if>  
			 <if test='board_category != "review"'>
			  FROM  freeComment_tbl
			</if>  
			 WHERE comment_num = #{comment_num}
		</select>
		
		<!-- 댓글 수정처리 -->
		<update id="cmtUpdate" parameterType="com.spring.ict03_fastiCat.dto.CommentDTO">
			<if test='board_category == "review"'>
				 UPDATE reviewComment_tbl 
				    SET content = #{content}
				  WHERE comment_num = #{comment_num}
			 </if>
			 
			 <if test='board_category != "review"'>
			 	 UPDATE freeComment_tbl 
				    SET content = #{content}
				  WHERE comment_num = #{comment_num}
			 </if>
		</update>
		
		<!--  댓글 삭제처리 -->
		<delete id="cmtDelete" parameterType="java.util.Map">
			<if test='category == "review"'>
				 DELETE FROM reviewComment_tbl 
				  WHERE comment_num = #{comment_num}
			 </if>
			 
			 <if test='category != "review"'>
			 	 DELETE FROM freeComment_tbl 
				  WHERE comment_num = #{comment_num}
			 </if>
		</delete>
		
	 </mapper>
	 
