<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  
	  <mapper namespace="com.spring.ict03_fastiCat.dao.MainShowDAO">
	  
	  <!--  show 갯수 -->
	  <select id="showCnt" parameterType="String" resultType="int">
	  	SELECT COUNT(*) as cnt
	  	<if test='category == "festival"'>
	  		FROM show_tbl_fes
	  	</if>
	  	<if test='category == "concert"'>
	  		FROM show_tbl
	  	</if>
	  </select>
	  
	  <!--  show 목록 -->
	  <select id="showList" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.ShowDTO">
		    SELECT *
		    FROM 
		    (
		        SELECT showNum, showName, showCategory, showIndate, showPlace, showPrice, showTime, showAge, showBene, curCapacity, maxCapacity, showDay, showImage, show, ROWNUM AS rn
		        FROM 
		        (
		            SELECT showNum, showName, showCategory, showIndate, showPlace, showPrice, showTime, showAge, showBene, curCapacity, maxCapacity, showDay, showImage, show,
		                   ROW_NUMBER() OVER (PARTITION BY showName ORDER BY showNum DESC) as rn
		            FROM 
		            <choose>
		                <when test='category == "festival"'>
		                    show_tbl_fes
		                </when>
		                <otherwise>
		                    show_tbl
		                </otherwise>
		            </choose>
		            WHERE show = 'y'
		        )
		        WHERE rn = 1
		    ) 
		    WHERE rn BETWEEN TO_NUMBER(#{start}) AND TO_NUMBER(#{end})
	  </select>

	  
	  <!--  show 상세페이지 -->
	  <select id="showInfo" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.ShowDTO">
	  	
	  	<if test='category == "festival"'>
	  		SELECT * 
	  		  FROM show_tbl_fes
	  		 WHERE showNum=#{showNum}
	  	</if>
	  	<if test='category == "concert"'>
	  		SELECT * 
	  		  FROM show_tbl
	  		 WHERE showNum=#{showNum}
	  	</if>
	  </select>
	  </mapper> 