@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

th, td {
    border: 1px solid #ccc;
    padding: 10px; /* Padding을 설정하여 셀 안의 내용을 간격을 두고 보여줍니다. */
    text-align: left;
    align-items: center;
    justify-content: center;
}

th {
    background-color: #f4f4f4;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

#reserveButton {
    width: 100%; /* 버튼을 칸 가득 채우도록 설정 */
    height: 100%; /* 버튼의 높이도 칸 가득 채우도록 설정 */
    align-items: center;
    justify-content: center;
    background-color: #cae3ff;
    color: black;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #007bff;
}

#reserveButton:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    height: 70%;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-sizing: border-box; /* Border box 모델을 사용하여 padding과 border가 포함된 너비를 설정 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal h5 {
    margin: 0 0 10px;
}

.modal p {
    margin: 0 0 20px;
}

.calendar-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-date {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* 제목 셀에 적용할 스타일 */
.table-header {
    font-weight: bold;            /* 굵은 글씨 */
    background-color: #e0e0e0;    /* 배경색 설정 */
    color: #333;                  /* 글자 색상 설정 (선택사항) */
    text-align: center;           /* 텍스트 가운데 정렬 (선택사항) */
}

.table-imgPopup img {
    width: 100vw;
    border-radius: 8px;
    margin-bottom: 20px;
}