body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar-container {
    width: 90vw;
    height: 90vh;
    max-width: 1400px;
    max-height: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb01f;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.calendar-header button {
    background-color: #ffb01f;
    border: none;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.calendar-header button:hover {
    background-color: #004080;
}

#currentMonth {
    font-size: 1.2rem;
    font-weight: bold;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.day {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #ddd;
    overflow-y: auto;
    padding: 10px;
}

.date-container {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.date-number {
    font-size: 1.2rem;
    font-weight: bold;
}

.date-week {
    font-size: 0.9rem;
    color: #666;
}

.empty {
    background-color: #f0f0f0;
}

.show-list {
    margin-top: 5px;
    max-height: 70px;
    overflow-y: auto;
}

.show-name {
    background-color: #ffb01f;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-top: 2px;
    text-align: left;
    word-wrap: break-word;
    cursor: pointer; /* Pointer cursor for clickable items */
}

/* Full capacity styling */
.show-name.full-capacity {
    background-color: #ccc; /* Gray background for full capacity */
    color: #999; /* Text color */
    cursor: not-allowed; /* Disabled cursor for non-clickable items */
}
